<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="sessionHeader.html :: head">
    <meta charset="UTF-8">
    <title>Notice board</title>
</head>
<body>
<div class="mainHolder">
    <div th:replace="sessionHeader.html :: header" />

    <table class="table table-borderless">

        <p>
            <a href="/new" class="menuItem">[Create new entry]</a>
        </p>

        <tbody>
            <tr style="border-bottom: aliceblue solid" th:each="notice: ${notices}">
                <td>
                    <blockquote class="blockquote">
                        <h2 class="mb-0" style="font-family: 'Antic Slab', serif;" th:text="${notice.title}"></h2>
                        <p class="mb-0" style="font-family: 'Antic Slab', serif;" th:text="${notice.text}"></p>
                        <footer class="blockquote-footer" style="margin-left: 5px;" th:text="${notice.userEntity.username}+ ' ' +${notice.date}"></footer>
                    </blockquote>
                </td>
                <td style="text-align: right; margin-right: 25px;">
                    <a th:href="'/showNotice/'+${notice.id}" class="mb-0 menuItem" th:text="'[Replies ('+${notice.replies.size()}+')]'"></a><br>
                    <div th:unless="${loggedInUser == null}">
                        <a onclick="alert('Didn\'t have time to implement this, sorry!)" class="mb-0 menuItem" th:if="${loggedInUser.id == notice.userEntity.id}">[Edit]</a><br>
                        <a th:onClick="'deleteThis('+${notice.id}+')'" class="mb-0 menuItem" th:if="${loggedInUser.id == notice.userEntity.id}">[Delete]</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script th:unless="${loggedInUser == null}">
    function deleteThis(noticeId) {
        if(confirm("Are you sure you want to delete this notice post?")) {
            fetch('/notice/'+noticeId, {
                method: 'DELETE'
            }).then(resp => {
                if(resp.status === 200) {
                    window.location.href = "/";
                } else {
                    alert("Failed to delete");
                }
            });
        }
    }
</script>

</body>
</html>