<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="sessionHeader.html :: head">
    <meta charset="UTF-8">
    <title>Notice board</title>
</head>
<body>
<div class="mainHolder">
    <div th:replace="sessionHeader.html :: header" />
    <blockquote class="blockquote">
        <h2 class="mb-0" style="font-family: 'Antic Slab', serif;" th:text="${notice.title}"></h2>
        <p th:text="${notice.text}"></p>
        <footer class="blockquote-footer" style="margin-left: 5px;" th:text="${notice.userEntity.username}+ ' ' +${notice.date}"></footer>
    </blockquote>
    <table class="table table-borderless">
        <tbody>
            <tr style="border-bottom: aliceblue solid" th:each="reply: ${notice.replies}">
                <td>
                    <blockquote class="blockquote">
                        <p class="mb-0" style="font-family: 'Antic Slab', serif;" th:text="${reply.text}"></p>
                        <footer class="blockquote-footer" style="margin-left: 5px;" th:text="${reply.date}"></footer>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-4   col-md-offset-4" th:unless="${loggedInUser == null}">
        <label for="reply_id">Reply:</label><input type="text" id="reply_id" placeholder="Add reply">
        <br>
        <div class="form-group">
            <button class="btn btn-primary" id="submit"
                    style="display: block; margin: auto;"
                    th:onclick="'submitReply('+${notice.id}+')'">Submit new post</button>
        </div>
    </div>
</div>

<script th:unless="${loggedInUser == null}">
    function submitReply(noticeId) {
        let textValue = document.getElementById("reply_id").value;
        fetch('/reply', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                text:textValue,
                userEntityId:1,
                notice:{id:noticeId}
            })
        }).then(resp => {
            if(resp.status === 201) {
                window.location.href = "/showNotice/"+noticeId;
            } else {
                alert("Failed to post reply");
            }
        });
    }
</script>
</body>
</html>