<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notice board header</title>
</head>
<head th:fragment="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>
<div class="mainHolder">
    <div th:fragment="header">
        <table width="100%">
            <td style="white-space: nowrap;">
                <h1 class="display-4"><a href="/" style="color: inherit;">Notice board</a></h1>
                <p class="lead" style="margin-left: 10px;">
                    - Say hello to the world!
                </p>
            </td>
            <td width="99%" style="text-align: right;">
                <div th:unless="${loggedInUser == null}">
                    <p th:text="'Logged in as '+${loggedInUser.username}"></p>
                    <p>
                        <a href="/logout" class="menuItem">[Logout]</a>
                    </p>
                </div>
                <div th:if="${loggedInUser == null}">
                    <p>
                        <a href="/login" class="menuItem">[Login]</a>
                    </p>
                    <p>
                        <a href="/createAccount" class="menuItem">[Create new account]</a>
                    </p>
                </div>
            </td>
        </table>
        <hr>
    </div>
</div>

</body>
</html>